{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "semi": true
}